<div class="container">
  <div class="py-4">
    <h2>Validação de Formulários</h2>
  </div>
  <form [formGroup]="formulario" (ngSubmit)="saveData()" class=" needs-validation">
    <div class="row">
      <div class="col-md-4">
        <label for="nome" class="form-label">Nome</label>
        <div class="form-group  ">
          <input type="text" class="form-control"
                 [ngClass]="{'is-invalid': formulario.controls.nome.errors && formulario.controls.nome.touched}"
                 placeholder="Informe o seu nome"
                 formControlName="nome" id="nome">
          <span class="text-danger"
                *ngIf="formulario.controls.nome.touched &&  formulario.controls.nome.errors?.required">
            Campo Nome é Obrigatório
          </span> <span class="text-danger"
                        *ngIf="formulario.controls.nome.touched &&  formulario.controls.nome.errors?.minlength">
            Nome não pode ter menos que 5 caracteres.
          </span>
          <span class="text-danger"
                *ngIf="formulario.controls.nome.touched &&  formulario.controls.nome.errors?.maxlength">
            Nome não pode ter mais que 30 caracteres.
          </span>
        </div>
      </div>
      <div class="col-md-4">
        <div class="form-group">
          <label for="sobrenome" class="form-label">Sobrenome</label>
          <input type="text"
                 [ngClass]="{'is-invalid': formulario.controls.sobrenome.errors && formulario.controls.sobrenome.touched}"
                 class="form-control" placeholder="Informe o seu sobrenome" formControlName="sobrenome"
                 id="sobrenome">
          <span class="text-danger"
                *ngIf="formulario.controls.sobrenome.touched &&  formulario.controls.sobrenome.errors?.required">
            Campo Sobrenome é Obrigatório
          </span> <span class="text-danger"
                        *ngIf="formulario.controls.sobrenome.touched &&  formulario.controls.sobrenome.errors?.minlength">
            Sobrenome não pode ter menos que 5 caracteres.
          </span>
          <span class="text-danger"
                *ngIf="formulario.controls.sobrenome.touched &&  formulario.controls.sobrenome.errors?.maxlength">
            Sobrenome não pode ter mais que 30 caracteres.
          </span>
        </div>
      </div>
      <div class="col-md-4">
        <div class="form-group">
          <label for="email" class="form-label">E-mail</label>
          <input type="email"
                 [ngClass]="{'is-invalid': formulario.controls.email.errors && formulario.controls.email.touched}"
                 class="form-control" placeholder="Informe o seu e-mail" formControlName="email"
                 id="email">
          <span class="text-danger"
                *ngIf="formulario.controls.email.touched &&  formulario.controls.email.errors?.required">
            Campo E-mail é Obrigatório
          </span>
          <span class="text-danger"
                *ngIf="formulario.controls.email.touched &&  formulario.controls.email.errors?.email">
                Digite um E-mail Válido
          </span>
        </div>
      </div>
    </div>
    <div class="py-3">
      <button type="submit" class="btn  btn-primary" [disabled]="!formulario.valid">Salvar</button>
      <button type="reset" class="btn  btn-secondary m-2"  (click)="resetForm()" >Cancelar</button>
    </div>
  </form>
</div>


<div class="container py-5" *ngIf="formulario">
  <div>Formulário válido? {{formulario.valid }}</div>

  <!--pre>Form submetido: {{ form.submitted }}</pre -->
  <div>Valores: <br>{{ formulario.value | json }}</div>

</div>

